// ============================================================================
// Float Utilities
// ============================================================================

@use '../../../config/custom-config' as settings;

@if settings.$enable-float == true {
  // Float values
  // ============================================================================
  $float-values: (
    left: left,
    right: right,
    none: none,
    start: inline-start,
    end: inline-end
  );

  @each $key, $value in $float-values {
    .float-#{$key} { float: #{$value}; }
  }

  // Clear values
  // ============================================================================
  $clear-values: (
    left: left,
    right: right,
    both: both,
    none: none
  );

  @each $key, $value in $clear-values {
    .clear-#{$key} { clear: #{$value}; }
  }
}
