// ============================================================================
// Grid Extended Properties
// ============================================================================
// grid-area, grid-auto-columns, grid-auto-rows, grid-column, grid-row, grid-template, grid-template-areas
// ============================================================================

@use '../../../config/custom-config' as settings;
@if settings.$enable-grid-extended == true {
  // Grid area
  // ============================================================================
  .grid-area-auto { grid-area: auto; }
  .grid-area-1 { grid-area: 1 / 1 / 2 / 2; }
  .grid-area-2 { grid-area: 1 / 1 / 3 / 3; }
  .grid-area-3 { grid-area: 1 / 1 / 4 / 4; }

  // Grid auto columns
  // ============================================================================
  .grid-auto-cols-auto { grid-auto-columns: auto; }
  .grid-auto-cols-min { grid-auto-columns: min-content; }
  .grid-auto-cols-max { grid-auto-columns: max-content; }
  .grid-auto-cols-fr { grid-auto-columns: 1fr; }

  // Grid auto rows
  // ============================================================================
  .grid-auto-rows-auto { grid-auto-rows: auto; }
  .grid-auto-rows-min { grid-auto-rows: min-content; }
  .grid-auto-rows-max { grid-auto-rows: max-content; }
  .grid-auto-rows-fr { grid-auto-rows: 1fr; }

  // Grid column (shorthand for grid-column-start and grid-column-end)
  // ============================================================================
  .col-auto { grid-column: auto; }
  .col-span-1 { grid-column: span 1 / span 1; }
  .col-span-2 { grid-column: span 2 / span 2; }
  .col-span-3 { grid-column: span 3 / span 3; }
  .col-span-4 { grid-column: span 4 / span 4; }
  .col-span-5 { grid-column: span 5 / span 5; }
  .col-span-6 { grid-column: span 6 / span 6; }
  .col-span-7 { grid-column: span 7 / span 7; }
  .col-span-8 { grid-column: span 8 / span 8; }
  .col-span-9 { grid-column: span 9 / span 9; }
  .col-span-10 { grid-column: span 10 / span 10; }
  .col-span-11 { grid-column: span 11 / span 11; }
  .col-span-12 { grid-column: span 12 / span 12; }
  .col-span-full { grid-column: 1 / -1; }

  // Grid column start
  // ============================================================================
  .col-start-1 { grid-column-start: 1; }
  .col-start-2 { grid-column-start: 2; }
  .col-start-3 { grid-column-start: 3; }
  .col-start-4 { grid-column-start: 4; }
  .col-start-5 { grid-column-start: 5; }
  .col-start-6 { grid-column-start: 6; }
  .col-start-7 { grid-column-start: 7; }
  .col-start-8 { grid-column-start: 8; }
  .col-start-9 { grid-column-start: 9; }
  .col-start-10 { grid-column-start: 10; }
  .col-start-11 { grid-column-start: 11; }
  .col-start-12 { grid-column-start: 12; }
  .col-start-13 { grid-column-start: 13; }
  .col-start-auto { grid-column-start: auto; }

  // Grid column end
  // ============================================================================
  .col-end-1 { grid-column-end: 1; }
  .col-end-2 { grid-column-end: 2; }
  .col-end-3 { grid-column-end: 3; }
  .col-end-4 { grid-column-end: 4; }
  .col-end-5 { grid-column-end: 5; }
  .col-end-6 { grid-column-end: 6; }
  .col-end-7 { grid-column-end: 7; }
  .col-end-8 { grid-column-end: 8; }
  .col-end-9 { grid-column-end: 9; }
  .col-end-10 { grid-column-end: 10; }
  .col-end-11 { grid-column-end: 11; }
  .col-end-12 { grid-column-end: 12; }
  .col-end-13 { grid-column-end: 13; }
  .col-end-auto { grid-column-end: auto; }

  // Grid row (shorthand for grid-row-start and grid-row-end)
  // ============================================================================
  .row-auto { grid-row: auto; }
  .row-span-1 { grid-row: span 1 / span 1; }
  .row-span-2 { grid-row: span 2 / span 2; }
  .row-span-3 { grid-row: span 3 / span 3; }
  .row-span-4 { grid-row: span 4 / span 4; }
  .row-span-5 { grid-row: span 5 / span 5; }
  .row-span-6 { grid-row: span 6 / span 6; }
  .row-span-full { grid-row: 1 / -1; }

  // Grid row start
  // ============================================================================
  .row-start-1 { grid-row-start: 1; }
  .row-start-2 { grid-row-start: 2; }
  .row-start-3 { grid-row-start: 3; }
  .row-start-4 { grid-row-start: 4; }
  .row-start-5 { grid-row-start: 5; }
  .row-start-6 { grid-row-start: 6; }
  .row-start-7 { grid-row-start: 7; }
  .row-start-auto { grid-row-start: auto; }

  // Grid row end
  // ============================================================================
  .row-end-1 { grid-row-end: 1; }
  .row-end-2 { grid-row-end: 2; }
  .row-end-3 { grid-row-end: 3; }
  .row-end-4 { grid-row-end: 4; }
  .row-end-5 { grid-row-end: 5; }
  .row-end-6 { grid-row-end: 6; }
  .row-end-7 { grid-row-end: 7; }
  .row-end-auto { grid-row-end: auto; }

  // Grid template (shorthand for grid-template-rows, grid-template-columns, and grid-template-areas)
  // ============================================================================
  .grid-template-none { grid-template: none; }

  // Grid template areas
  // ============================================================================
  .grid-areas-none { grid-template-areas: none; }
}
