// ============================================================================
// Orphans Properties
// ============================================================================
// orphans

@use 'sass:map';
@use '../../../config/custom-config' as settings;
@use '../../../mixins/utilities' as utility-mixins;

// Orphans values
$orphans-values: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5
) !default;

// Build utilities map
$orphans-utilities: ();

@each $key, $value in $orphans-values {
  $orphans-utilities: map.merge($orphans-utilities, ('orphans-#{$key}': (orphans: $value)));
}

@if settings.$enable-orphans == true {
  // Generate utilities
  @include utility-mixins.generate-declaration-utilities($orphans-utilities);
}
