// ============================================================================
// Quotes Properties
// ============================================================================
// quotes

@use 'sass:map';
@use '../../../config/custom-config' as settings;
@use '../../../mixins/utilities' as utility-mixins;

// Quotes values
$quotes-values: (
  auto: auto,
  none: none,
  english: '"' '"' "'" "'",
  french: "«" "»" "‹" "›",
  german: "»" "«" "›" "‹"
) !default;

// Build utilities map
$quotes-utilities: ();

@each $key, $value in $quotes-values {
  $quotes-utilities: map.merge($quotes-utilities, ('quotes-#{$key}': (quotes: $value)));
}

@if settings.$enable-quotes == true {
  // Generate utilities
  @include utility-mixins.generate-declaration-utilities($quotes-utilities);
}
