// ============================================================================
// Widows Properties
// ============================================================================
// widows

@use 'sass:map';
@use '../../../config/custom-config' as settings;
@use '../../../mixins/utilities' as utility-mixins;

// Widows values
$widows-values: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5
) !default;

// Build utilities map
$widows-utilities: ();

@each $key, $value in $widows-values {
  $widows-utilities: map.merge($widows-utilities, ('widows-#{$key}': (widows: $value)));
}

@if settings.$enable-widows == true {
  // Generate utilities
  @include utility-mixins.generate-declaration-utilities($widows-utilities);
}
