// ============================================================================
// Widows Properties
// ============================================================================
// widows
// ============================================================================

@use '../../../config/custom-config' as settings;
@if settings.$enable-widows == true {
  .widows-0 { widows: 0; }
  .widows-1 { widows: 1; }
  .widows-2 { widows: 2; }
  .widows-3 { widows: 3; }
  .widows-4 { widows: 4; }
  .widows-5 { widows: 5; }
}
