@layer themes, base, utilities;

/* Import ApexCSS files into their respective layers */
@import url('../../../dist/themes.css') layer(themes);
@import url('../../../dist/base.css') layer(base);
@import url('../../../dist/utilities.css') layer(utilities);
