// ============================================================================
// Field Sizing Utilities
// ============================================================================

@use 'sass:map';
@use '../../../config/custom-config' as settings;
@use '../../../mixins/utilities' as utility-mixins;

// Field sizing values
$field-sizing-values: (
  fixed: fixed,
  content: content
) !default;

// Build utilities map
$field-sizing-utilities: ();

@each $key, $value in $field-sizing-values {
  $field-sizing-utilities: map.merge($field-sizing-utilities, ('field-sizing-#{$key}': (field-sizing: $value)));
}

@if settings.$enable-field-sizing == true {
  // Generate utilities
  @include utility-mixins.generate-declaration-utilities($field-sizing-utilities);
}
