// ============================================================================
// Zoom Properties
// ============================================================================
// zoom
// ============================================================================

@use '../../../config/custom-config' as settings;

@if settings.$enable-zoom == true {
  .zoom-normal { zoom: normal; }
  .zoom-50 { zoom: 0.5; }
  .zoom-75 { zoom: 0.75; }
  .zoom-100 { zoom: 1; }
  .zoom-125 { zoom: 1.25; }
  .zoom-150 { zoom: 1.5; }
  .zoom-200 { zoom: 2; }
  .zoom-300 { zoom: 3; }
}
