// ============================================================================
// Zoom Properties
// ============================================================================
// zoom

@use 'sass:map';
@use '../../../config/custom-config' as settings;
@use '../../../mixins/utilities' as utility-mixins;

// Zoom values
$zoom-values: (
  normal: normal,
  50: 0.5,
  75: 0.75,
  100: 1,
  125: 1.25,
  150: 1.5,
  200: 2,
  300: 3
) !default;

// Build utilities map
$zoom-utilities: ();

@each $key, $value in $zoom-values {
  $zoom-utilities: map.merge($zoom-utilities, ('zoom-#{$key}': (zoom: $value)));
}

@if settings.$enable-zoom == true {
  // Generate utilities
  @include utility-mixins.generate-declaration-utilities($zoom-utilities);
}
