// ============================================================================
// Appearance Utilities
// ============================================================================

@use '../../../config/custom-config' as settings;

@if settings.$enable-appearance == true {
  // Appearance
  .appearance-none { appearance: none; }
  .appearance-auto { appearance: auto; }
  .appearance-textfield { appearance: textfield; }
  .appearance-menulist { appearance: auto; }
  .appearance-searchfield { appearance: auto; }
  .appearance-textarea { appearance: auto; }
  .appearance-push-button { appearance: auto; }
  .appearance-slider-horizontal { appearance: auto; }
  .appearance-checkbox { appearance: auto; }
  .appearance-radio { appearance: auto; }
  .appearance-square-button { appearance: auto; }
  .appearance-menulist-button { appearance: menulist-button; }
  .appearance-listbox { appearance: auto; }
  .appearance-meter { appearance: auto; }
  .appearance-progress-bar { appearance: auto; }
  .appearance-button { appearance: auto; }
}
