// ============================================================================
// Responsive Mixins
// ============================================================================

@use 'sass:map';
@use '../config/breakpoints' as bp;

// Mobile-first breakpoint mixin
@mixin respond-above($breakpoint) {
  @if map.has-key(bp.$breakpoints, $breakpoint) {
    $breakpoint-value: map.get(bp.$breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Unknown breakpoint: #{$breakpoint}';
  }
}

// Desktop-first breakpoint mixin
@mixin respond-below($breakpoint) {
  @if map.has-key(bp.$breakpoints, $breakpoint) {
    $breakpoint-value: map.get(bp.$breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1px)) {
      @content;
    }
  } @else {
    @warn 'Unknown breakpoint: #{$breakpoint}';
  }
}

// Between breakpoints mixin
@mixin respond-between($lower, $upper) {
  @if map.has-key(bp.$breakpoints, $lower) and map.has-key(bp.$breakpoints, $upper) {
    $lower-value: map.get(bp.$breakpoints, $lower);
    $upper-value: map.get(bp.$breakpoints, $upper);

    @media (min-width: $lower-value) and (max-width: ($upper-value - 1px)) {
      @content;
    }
  } @else {
    @warn 'Unknown breakpoints: #{$lower} or #{$upper}';
  }
}

// Specific breakpoint mixin
@mixin respond-to($breakpoint) {
  @include respond-above($breakpoint) {
    @content;
  }
}

// Generate responsive utilities
@mixin generate-responsive($property, $values, $prefix: '') {
  @each $breakpoint, $breakpoint-value in bp.$breakpoints {
    @include respond-above($breakpoint) {
      @each $key, $value in $values {
        .#{$prefix}#{$breakpoint}#{$key} {
          #{$property}: $value;
        }
      }
    }
  }
}
