// ============================================================================
// Caret Properties
// ============================================================================
// caret-color
// ============================================================================

@use '../../../config/custom-config' as settings;
@if settings.$enable-caret == true {
  .caret-auto { caret-color: auto; }
  .caret-current { caret-color: currentcolor; }
  .caret-transparent { caret-color: transparent; }
  .caret-white { caret-color: var(--color-white); }
  .caret-black { caret-color: var(--color-black); }
  .caret-primary { caret-color: var(--color-primary); }
  .caret-secondary { caret-color: var(--color-secondary); }
  .caret-success { caret-color: var(--color-success); }
  .caret-danger { caret-color: var(--color-danger); }
  .caret-warning { caret-color: var(--color-warning); }
  .caret-info { caret-color: var(--color-info); }
}
