// ============================================================================
// Overscroll Behavior Utilities
// ============================================================================

@use '../../../config/custom-config' as settings;

@if settings.$enable-overscroll-behavior == true {
  // Overscroll behavior values
  // ============================================================================
  $overscroll-behaviors: (
    auto: auto,
    contain: contain,
    none: none
  );

  // Overscroll behavior
  @each $key, $value in $overscroll-behaviors {
    .overscroll-#{$key} { overscroll-behavior: #{$value}; }
  }

  // Overscroll behavior x
  @each $key, $value in $overscroll-behaviors {
    .overscroll-x-#{$key} { overscroll-behavior-x: #{$value}; }
  }

  // Overscroll behavior y
  @each $key, $value in $overscroll-behaviors {
    .overscroll-y-#{$key} { overscroll-behavior-y: #{$value}; }
  }
}
