// ============================================================================
// Will-Change Utilities
// ============================================================================

@use '../../../config/custom-config' as settings;

@if settings.$enable-will-change == true {
  .will-change-auto { will-change: auto; }
  .will-change-scroll { will-change: scroll-position; }
  .will-change-contents { will-change: contents; }
  .will-change-transform { will-change: transform; }
  .will-change-opacity { will-change: opacity; }
  .will-change-left { will-change: left; }
  .will-change-top { will-change: top; }
  .will-change-right { will-change: right; }
  .will-change-bottom { will-change: bottom; }
}
