// ============================================================================
// Font Style Utilities
// ============================================================================
// font-style: normal, italic, oblique

@use '../../../config/custom-config' as settings;

@if settings.$enable-typography-extended == true {
  .text-style-normal {
    font-style: normal;
  }

  .text-style-italic {
    font-style: italic;
  }

  .text-style-oblique {
    font-style: oblique;
  }
}
