// ============================================================================
// Hanging Punctuation Properties
// ============================================================================
// hanging-punctuation
// ============================================================================

@use '../../../config/custom-config' as settings;

@if settings.$enable-hanging-punctuation == true {
  .hang-none { hanging-punctuation: none; }
  .hang-first { hanging-punctuation: first; }
  .hang-last { hanging-punctuation: last; }
  .hang-allow-end { hanging-punctuation: allow-end; }
  .hang-first-last { hanging-punctuation: first last; }
  .hang-first-allow-end { hanging-punctuation: first allow-end; }
  .hang-last-allow-end { hanging-punctuation: last allow-end; }
  .hang-first-last-allow-end { hanging-punctuation: first allow-end last; }
}
