// ============================================================================
// Text Justify Properties
// ============================================================================
// text-justify
// ============================================================================

@use '../../../config/custom-config' as settings;
@if settings.$enable-text-justify == true {
  .text-justify-auto { text-justify: auto; }
  .text-justify-none { text-justify: none; }
  .text-justify-inter-word { text-justify: inter-word; }
  .text-justify-inter-character { text-justify: inter-character; }
}
