// ============================================================================
// Text Align Last Properties
// ============================================================================
// text-align-last
// ============================================================================

@use '../../../config/custom-config' as settings;
@if settings.$enable-text-align-last == true {
  .text-align-last-auto { text-align-last: auto; }
  .text-align-last-start { text-align-last: start; }
  .text-align-last-end { text-align-last: end; }
  .text-align-last-left { text-align-last: left; }
  .text-align-last-right { text-align-last: right; }
  .text-align-last-center { text-align-last: center; }
  .text-align-last-justify { text-align-last: justify; }
}
