// ============================================================================
// Whitespace Utilities
// ============================================================================
// white-space: normal, nowrap, pre, pre-line, pre-wrap

@use '../../../config/custom-config' as settings;

@if settings.$enable-typography-extended == true {
  .whitespace-normal {
    white-space: normal;
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  .whitespace-pre {
    white-space: pre;
  }

  .whitespace-pre-line {
    white-space: pre-line;
  }

  .whitespace-pre-wrap {
    white-space: pre-wrap;
  }
}
