// ============================================================================
// Word Wrap Properties
// ============================================================================
// word-wrap
// ============================================================================

@use '../../../config/custom-config' as settings;
@if settings.$enable-word-wrap == true {
  .wrap-normal { word-wrap: normal; }
  .wrap-anywhere { word-wrap: anywhere; }
  .wrap-break-word { word-wrap: break-word; }
}
